<div [ngClass]="{'wrap':loginOrRegister == false, 'wrap-alt':loginOrRegister == true}">
    <ul class="flex-container">
        <div class=""></div>

        <li>
            <a href="#"><h3>Service</h3></a>
            <a href="#"><p>Take Contact</p></a>
        </li>
        <li>
            <a href="#"><h3>About The Shop</h3></a>
            <a href="#"><p>Technologies used</p></a>
            <a href="#"><p>Github repo frontend</p></a>
            <a href="#"><p>Github repo backend</p></a>
        </li>
        <li>
            <a href="#"><h3>About The Creator</h3></a>
            <a href="#"><p>Currucilum vitae</p></a>
            <a href="#"><p>Motivation for developing</p></a>
        </li>
        <li>
            <h3>Contact</h3>
            <p>Icons</p>
        </li>

        <div class=""></div>
    </ul>
    <div class="line"></div>
    <div class="flex-container logo">
        <app-shop-icon></app-shop-icon>
    </div>
    
</div>