<div class="container main">
    
    <app-home-carousel></app-home-carousel>
   
    <div class="how-it-works">
        <h1>How it works</h1>
        <div class="d-flex justify-content-center">
            <div>
                <h2>Create your account</h2>
                <p>Sign up for free </p>
                <div class="d-flex justify-content-center">
                    <img class="logo" src="./assets/signup2.png" alt="free-shipping">
                </div>
            </div>
            <div>
                <h2>Shop</h2>
                <p>Search for products</p>
                <div class="d-flex justify-content-center">
                    <img class="logo" src="./assets/shop2.png" alt="free-shipping">
                </div>
            </div>
            <div>
                <h2>Free shipping</h2>
                <p>Only pay for your product!</p>
                <div class="d-flex justify-content-center">
                    <img class="logo" src="./assets/freeshipping2.png" alt="free-shipping">
                </div>
            </div>
        </div>
        <app-show-all-deals></app-show-all-deals>
        <div style="height: 1rem;"></div>
    </div>

</div>
