.main{
    background-color: white;
    opacity: 1;
    padding: 0px 0px 2rem 0px;
    position: relative;
}
.show-deals{
    position: relative;
    display: inline-block;
    margin: 2rem;
    padding: 2rem 1rem 2rem 1rem;
    border-radius: 0.2rem;
    background-color: lightgrey;
    color: #212020;
    font-size: 3rem;
    text-decoration: none;
}