.box{
    display: flex;
    flex-flow: column;
    height: 100%;
}
.navfiller{
    position: relative;
    width: 100%;
    height: 86px;
    flex: 0 0 86px;
}
.main{
    background-color: white;
    opacity: 0.8;
    padding: 0px;
    position: relative;
    flex: 1 1;
}
.productIsland{
    margin: 3rem;
}
.float-left{
    float: left;
    width: 60%;
}
.big-thumbnail{
    float: right;
    width: 40%;
}
.add-to-cart{
    color: #0d6efd;
    text-decoration: underline;
    cursor: pointer;
  }