<div class="container main">
    <div *ngIf="product; else elseBlock"  class="row">
      <div class="productIsland col col-5">
        <div>
          <h1>Product Details</h1>
          <div class="row">
            <div class="col-4"><h2>Name:</h2></div>
            <div class="col"><h3>{{product.name}}</h3></div>
          </div>
          <div class="row">
            <div class="col-4"><h2>productType:</h2></div>
            <div class="col"><h3>{{product.productType}}</h3></div>
          </div>
          <div class="row">
            <div class="col-4"><h2>description:</h2></div>
            <div class="col"><h3>{{product.description}}</h3></div>
          </div>
          <div class="row">
            <div class="col-4"><h2>price:</h2></div>
            <div class="col"><h3>$ {{product.price}}</h3></div>
          </div>
          <div class="row">
            <div class="col-4"><h2>amountInStock:</h2></div>
            <div class="col"><h3>{{product.amountInStock}}</h3></div>
          </div>
          <div class="row pb-3">
            <a (click)="AddProductToBag()"><app-add-to-cart></app-add-to-cart></a>
          </div>
          <div class="row pb-3">
            <app-keep-shopping></app-keep-shopping>
          </div>
        </div>
      </div>
      <div class="col"></div>
      <div class="col col-5 pt-3"><img src="/assets/{{product.image}}" class="big-thumbnail"></div>
    </div>

    <ng-template #elseBlock>
      <div class="productIsland">
        <h1>This product does not exist yet</h1>
        <app-keep-shopping></app-keep-shopping>
      </div>
    </ng-template>
</div>
