.main{
    background-color: white;
    opacity: 0.8;
    padding: 0px 0px 2rem 0px;
    position: relative;
}
.productIsland{
    padding: 3rem;
}
.big-thumbnail{
    max-width: 500px;
    max-height: 600px;
}