<div class="container main">
    <div class="content-about">
        <h1>Motivation for developing</h1>
        <h2>Hello dear reader, I am Arthur.</h2>
        <p>I am committed to achieving results, delivering high customer satisfaction and performing great work.  
            I demonstrated this both at Telenet and Fujitsu Siemens where I worked as a Field Engineer and Service Desk Agent respectively. 
            I was recognized by my superiors for meeting objectives and bringing projects to a successful finish. </p>
        
        <p>Recently I finished an education focussed on C# .NET with the inclusion of Angular, mysql and others.
        In the time since my education ended I have been working on this website(.NET, Angular), github links are at the bottom and in my CV.</p>
        
        <p>I now am looking for work as a software developer in C# .NET. </p>
        
        <p>Please refer to the attached resume for more details of my previous experience and skill set.</p>
            
    </div>
    <app-pdf-cv></app-pdf-cv>
</div>

