.main{
  background-color: white;
  opacity: 0.8;
  position: relative;
  flex: 1 1;
}
.pageisland{
  margin: .5rem;
  border-radius: 5px;
  padding: .5rem;
  //background-color: rgb(239, 240, 248);
  background-color: #abc3e1;
  border:solid grey 1px;
}
.pagination{
  margin-bottom: .1rem;
} 
.thumbnail{
  width: 100px;
  height: 100px;
}
.product-link{
  color: rgb(33, 37, 41);
  text-decoration: none;
}
.product-link img{
  box-shadow: 0px 0px 5px 0px;
}
.product-link img:hover{
  box-shadow: 0px 0px 10px 0px;
}
.product-link h3{
  margin: 0.2rem 0rem 0.3rem 0rem;
  font-size: large;
  font-weight: 400;
}
.product-link>h3:hover{
  text-decoration: underline;
}
h2{
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0px 0px 0.5rem 0px;
}
.add-to-cart{
  text-decoration: underline;
  cursor: pointer;
  color: darkblue;
}
.active a{
  background-color: #7ebb7e;
  border: solid 1px #7ebb7e;
}
.page-link{
  color: #2daf2d;
}
a:hover{
  cursor: pointer;
}
label > input[type="radio"] {
  display: none;
}
label > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-bottom: 0.1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.15rem;
  border-color: gray;
  transition: all 0.15s ease;
}
label > input[type="radio"]:checked + *::before {
  background: radial-gradient(#2c442c 0%, #2c442c 40%, transparent 50%, transparent);
  border-color: #2c442c;
}
label > input[type="radio"]:checked + * {
  color: #273b27;
}
label > input[type="radio"] + * {
  cursor: pointer;
}
label > input[type="radio"] + *:hover::before {
  width: 1.3rem;
  height: 1.3rem;
  margin-bottom: 0rem;
  margin-left: -0.1rem;
}
#gif-shopping{
  display: block;
  
  padding: 4px;
  border-radius: 5px;
  margin: 0rem auto 1rem auto;
}
#gif-shopping > img{
  display: block;
  width: 140px;
  height: auto;
  margin: auto;
}
@media screen and (max-width: 1150px){
  #gif-shopping{
    display: none;
  }
}