.main{
  padding: 0px;
  position: relative;
  flex: 1 1;
}
.signInBackground{
  position: relative;
  margin: 2rem 25% 2rem 25%;
  background-color: white;
  opacity: 0.9;
  height: 27rem;
  border-radius: 25px;
  border: solid 1rem #415050;
}
.signIn{
  position: relative;
  padding: 20px;
  margin: 0px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #415050;
}
.entry{
  padding: 5px;
  margin: 0px;
  font-size: 20px;
  color: #415050;
}
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="tel"],
textarea,
select {
  background-color: #f1eeea !important;
  
}
