.main{
  background-color: white;
  opacity: 0.8;
  position: relative;
  flex: 1 1;
}
.pageisland{
  margin: .5rem;
  border-radius: 5px;
  padding: .5rem;
  background-color: rgb(239, 240, 248);
  border:solid grey 1px;
}
.pagination{
  margin-bottom: .1rem;
} 
.thumbnail{
  width: 100px;
  height: 100px;
}
h2{
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0px 0px 0.5rem 0px;
}

.add-to-cart{
  text-decoration: underline;
  cursor: pointer;
}
.active a{
  background-color: #7ebb7e;
  border: solid 1px #7ebb7e;
}
.page-link{
  color: #2daf2d;
}
a:hover{
  cursor: pointer;
}
label > input[type="radio"] {
  display: none;
}
label > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-bottom: 2px;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.15rem;
  border-color: gray;
}
label > input[type="radio"]:checked + *::before {
  background: radial-gradient(#7ebb7e 0%, #7ebb7e 40%, transparent 50%, transparent);
  border-color: #7ebb7e;
}
label > input[type="radio"]:checked + * {
  color: #273b27;
}