.main{
  background-color: white;
  opacity: 0.8;
  position: relative;
  flex: 1 1;
}
.pageisland{
  margin: .5rem;
  border-radius: 5px;
  padding: .5rem;
  background-color: rgb(239, 240, 248);
  border:solid grey 1px;
}
.pagination{
  margin-bottom: .1rem;
}
.radio-group {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
.radio-button {
  margin: 5px;
}
.thumbnail{
  width: 100px;
  height: 100px;
}
h2{
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0px 0px 0.5rem 0px;
}
form{
  margin: 0.5rem;
}
form span{
  margin: 0.5rem;
}
.add-to-cart{
  text-decoration: underline;
  cursor: pointer;
}
